@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 205 15% 12%;

    --card: 0 0% 100%;
    --card-foreground: 216 34% 57%;

    --popover: 0 0% 100%;
    --popover-foreground: 205 15% 12%;

    --primary: 214 93% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 34% 57%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 0% 100%;
    --destructive-foreground: 5 91% 66%;

    --pending: 46 94% 54%;
    --pending-foreground: 0 0% 100%;

    --success: 134 70% 45%;
    --success-foreground: 0 0% 100%;

    --transit: 167 76% 43%;
    --transit-foreground: 0 0% 100%;

    --border: 200 13% 91%;
    --input: 200 10% 64%;
    --ring: 214 93% 51%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
